[data-basal-input] {
  padding: var(--basal-input-padding);
  border: var(--basal-input-border-size) var(--basal-input-border-style)
    var(--basal-input-border-color);
  border-radius: var(--basal-input-radius);
}
